# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env
.claude

# IDE
.vscode/
.idea/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store

grader/__pycache__/
homework/__pycache__/
homework/sft_model/
*.pdf
*.zip
